<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/1d9f245b0c.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header">
        <div class="caja--general">
            <div class="header--photo">
                <img src="/images/logo-mercado-liebre.svg" alt="foto de mercado libre">
            </div>
            <div class="header--search">
                <form action="" class="form">
                    <div class="form__box--search">
                        <input type="" placeholder="buscar productos">
                        <button type="submit" class="form__button--search"><i
                                class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </form>
            </div>

            <div class="header--parapho">
                <p><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta
                    de
                    crédito</p>
            </div>
        </div>
        <div class="menu">
            <div class="first">
                <ul class="first--menu">
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
            </div>
            <div class="second">
                <ul class="second--menu">
                    <li class=><a href="/register.html" class="header--icon">Creá tu cuenta <i
                                class="fa-regular fa-id-card"></i></a>
                    </li>
                    <li class=><a href="/login.html" class="header--icon">Ingresá <i
                                class="fa-solid fa-right-to-bracket"></i></a>
                    </li>
                    <li class=><a href="" class="header--icon">Mis compras <i
                                class="fa-solid fa-basket-shopping"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header__button">
            <button class="btn">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
    </header>
    <main>
        <section>
            <h3>Login</h3>
            <form action="" class="">
                <div class="form__box"><input type="text" placeholder="Nombre de usuario" name="email"></div>
                <div class="form__box"><input type="password" placeholder="Contraseña" name="password"> </div>
                <div class="form__box"><button type="sumbit">Enviar</button> </div>
            </form>
        </section>

    </main>
    <footer class="footer">
        <section class="footer--section">
            <div class="footer--icon">
                <i class="fa-solid fa-credit-card"></i>
            </div>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p class="footer__section--parapho">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo
                en
                puntos de pago. ¡Y siempre es seguro!
            </p>

        </section class="footer--section">
        <section>
            <div class="footer--icon">
                <i class="fa-solid fa-gift"></i>
            </div>
            <h4>Envío gratis desde $ 2.500</h4>
            <p class="footer__section--parapho">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles
                de
                productos. Es un beneficio de Mercado Puntos.
            </p>
        </section>

        <section class="footer--section">
            <div class="footer--icon">
                <i class="fa-solid fa-user-shield"></i>
            </div>
            <h4>Seguridad, de principio a fin</h4>
            <p class="footer__section--parapho">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
                hacer,
                porque estás siempre protegid@.
            </p>
        </section>

        <section class="footer__section--copy">
            <p>Copyright © 1999-2020 Mercado Liebre S.R.L.</p>
        </section>
    </footer>

</body>

</html>