.header {
    background-color: var(--colorAmarillo);
    display: flex;
    flex-direction: column;
}

.caja--general {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.header--parapho {
    text-align: center;
    margin: 20px;
    width: 90%;
    display: flex;
    justify-content: center;
}

.header--photo {
    padding: 15px;
    width: 50%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.header--photo img {
    width: 100%;

}

.form__button--search {
    background: none;
    border: none;
    text-align: center;
    font-size: 16px;
    color: gray;
    position: absolute;
    right: 5px;
    top: 10px;


}

.header--search {
    width: 48%;
    padding: 10px;
    margin-left: 0 auto;
    text-align: center;
    margin-bottom: 15px;



}

.form__box--search {
    position: relative;
    margin: 10px;
    width: 100%;
}

.form__box--search input {
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}


.header--photo--buscar {
    width: 100%;
    display: flex;

    flex-wrap: wrap;
    display: inline-block;


}


.header__button {
    display: flex;
    justify-content: center;
    
margin-bottom: 15px;
}
.header__button i{
    display:flex;
    background-color: var(--colorCeleste);
    color:#fff;
    justify-content: center;
    align-items: center;
    
    
   
    width: 30px;
    height: 30px;
    
   
}


.header--icon {
    color: black;
}

.header li a {
    color: black
}