.header{
    background-color:var(--colorAmarillo) ;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
header.padre{
    display: flex;
    flex-direction: row

}


.header--parapho{
    text-align: center;
    margin:15px;
}


.header--photo{
    margin:10px;
    padding:10px;
    width:49%;
    display: flex;
    flex-wrap: wrap;
}
.header--search {
    width:49%;
    display: flex;
    justify-content: flex-start;
    float: right;
    order: 0;
    
    
   
}   
.header__button{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.header__button i{
    border: none;
    background-color: var(--colorCeleste);
    padding: 10px ;
    color:white;
    
    border-radius: 15%;
    width: 100%;
}
.header--icon{
    color:black;
}
.header li a{
    color:black
}




